# wheel

# numpy
# pandas
matplotlib>=3.6  # for the font substitution

# geopandas
# cartopy
# dask
# dask-geopandas


### install these with:  pip install -r .\requirements.txt

notebook
ipykernel

black
wcwidth
tabulate[widechars]

pyarrow

seaborn

